/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13 feb 2023, 17:13:40
    Author     : Juan Manuel Gutiérrez
*/

:root{
    --color-primary: #212D40;
    --color-primary-contrast: #DCEDFF;
    --color-secondary: #F39A9D;
    --color-secondary-contrast: #212D40;
    --color-warning: #F9DF74;
    --color-warning-contrast: #212D40;
    --color-danger: #D66853;
    --color-danger-contrast: #FFF;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;
    transition: 0.3s;
}

.wrapper{
    width:80%;
    margin:auto;
}
.centered {
    display:flex;
    justify-content: center;
    align-items: center;
}

.vertical{
    flex-direction:column;
    flex:1;
}

.row-left{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap:10px;
}

.w100{
    min-width:100px;
}

.w50{
    width:50vw;
}

.full-width{
    width:100%;
    justify-content: space-between;
}
.horizontal{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1, h3{
    margin:10px;
    padding:10px 20px;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
}
h5{
    padding:10px;
    color:var(--color-primary);
    margin:20px;
}
.exercises{
    align-items: flex-start;
    margin:20px;
}

.myButton{
    padding:5px;
    margin:5px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    cursor: pointer;
    min-width: 100px;
}

.myButton:hover{
    background-color: var(--color-primary-contrast);
    color: var(--color-primary);
}

hr{
    margin:20px 0px;
}

input, select{
    padding:5px;
    border-radius: 5px;
    margin:5px;
}

.image{
    border-radius: 5px;
    width:30%;
}

.monospace{
    font-family:'Lucida Console', monospace;
}

.mini{
    width:20px;
}

.hidden{
    visibility:hidden;
}

table, thead, tr, th, td{
    border:1px solid var(--color-primary-contrast);
    border-collapse: collapse;
    text-align:center;
    padding:5px;
}

.danger-color{
    color: var(--color-danger);
}

.ejercicio8 td{
    border:none;
}

.ejercicio16 img{
    width:10vw;
}

.ejercicio18 .option{
    padding:10px;
}

.ejercicio19 input{
    text-align:center;
}

.ejercicio19 img{
    width:100px;
}

.ejercicio20 .blanca{
    width:30px;
    height:30px;
    border:1px solid var(--color-primary-contrast);
    background: var(--color-primary-contrast);
    color:var(--color-warning);
}

.ejercicio20 .negra{
    width:30px;
    height:30px;
    background: var(--color-danger);
    color:var(--color-primary-contrast);
}

.ejercicio20 img{
    width:20px;
}

.ejercicio21 .seleccion input{
    text-align: center;
    width:75px;
}

.ejercicio21 img{
    padding:10px;
    width:200px;
    height:200px;
    object-fit:cover;
}

.ejercicio21 .helado{
    width:200px;
    padding:10px;
}

.ejercicio21 .vaso{
    border:5px solid var(--color-primary);
    border-top:none;
    margin:30px;
}
.ejercicio21 .nata{
    height:30px;
}
.ejercicio21 .chocolate{
    background-color:#64021f;
    color:white;
}
.ejercicio21 .fresa{
    background-color:#FF6BBA;
    color:white;
}
.ejercicio21 .vainilla{
    background-color:#fbea9d;
}

.ejercicio22 img{
    padding:10px;
    width:100px;
    height:100px;
    object-fit:cover;
}
.ejercicio22 img{
    padding:10px;
    width:100px;
    height:100px;
    object-fit:cover;
}

.pedido input{
    width:50px;
}

.ejercicio22 p{
    text-align: center;
}

.ejercicio22 table{
    margin:20px;
}